*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    display: flex;
    align-items: center;
}
button{
    padding: 10px;

    border: 1px red solid;
    border-radius: 20px;
    color: red;
    background-color: white;
}
img{
    height: 100px;
}
.container{
    max-width: 1000px;

    margin: 100px auto;

    /* padding-top: 100px; */

    background-color: #ff0088;

}
/* Stilizzo la grid */
#grid{
    display: flex;
    flex-flow: row wrap;
}
/* Stilizzo le mie square */
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.square.active{
    background-color: skyblue;
    color: white;
}